.blog-search .nav-search-btn-wait {
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 0 10px 0 12px;
  height: 40px;
  background-color: var(--vp-c-bg-alt);
  transition: border .3s;
}

.blog-search .nav-search-btn-wait .metaKey {
  background-color: #fff;
  padding: 0 5px;
  border-radius: 6px;
  border: 1px solid #e8e8e8;
}