/* body {
  scroll-behavior: smooth;
}
.VPDoc {
  padding: 0 !important;
}
.VPDoc h2 {
  margin-top: 50px;
  padding-bottom: 10px;
  border-top: 0;
  border-bottom: 1px solid #3c3c3c1f;
}
.VPDoc h2:first-child {
  margin-top: 0;
}
p > code,
li > code {
  color: #ff502c !important;
  background-color: #fff5f5 !important;
} */